@charset "utf-8";
@import "common.css" screen, projection;
nav {
    border: 1px solid black;
}
p {
    color: #00F;
    background-color: rgb(78, 151, 108);
    border: 1px solid hsl(15, 16%, 10%);
    text-decoration: underline;
}
/*16-nd sÃŒsteem 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
.autor {
    font-size: 24px;
}
#nuppuke {
    border-radius: 25px;
}
dfn#Firefox{
    border: 1px solid gray;
}
article[itemscope]{
    cursor: pointer;
}
*[itemscope]{
    cursor: pointer;
}
[itemscope]{
    cursor: crosshair!important;
}
p + * {
    color: sandybrown;
}
ul, ol {
    font-weight: 900;
}
/*sÃŒviti otsing */
nav li {
    list-style-type: none;
}
/*pealis kaudne otsing*/
ol > li{
    list-style-type:square;
}
#nuppuke:active {
    color: red;
    border-radius: 0;
}
/*-webkit-, -moz-, -ms-*/
:-webkit-any-link{
    text-decoration: overline;
}
:any-link {
    text-decoration: overline;
}

/*Pseudo elemendid*/

.nupp::after{
    content: "->Tereõäü";
    position: absolute;
    transform: translate(10px);
}
p::first-line {
    color: rgb(224, 221, 0);
}
p::first-letter {
    color: red;
    font-size: 130%;
}
::selection {
    background: cyan;
}
@media only screen 
and (min-width: 1920px) {
  body { background: rgb(228, 248, 211); }
}
@media only screen 
and (min-width: 1280px) 
and (max-width: 1919px) {
  body { background: rgb(130, 136, 187); }
}
@media only screen 
and (min-width: 480px) 
and (max-width: 1279px) {
  body { background: rgb(223, 199, 189); }
  h1 { color: darkblue;}
}
@media only screen 
and (min-width: 0) 
and (max-width: 479px) {
  body { background: lightgoldenrodyellow; }
    @supports (display: flex){
        p { 
            color: inherit;
            display: flex; 
            background: rgb(121, 24, 43);
        }
    }
    @supports not (display: flex){
        p { 
            float: right; 
            background: rgb(141, 39, 141);
        }
    }
}
.wrapper{
    background-image: url("https://static.pexels.com/photos/531880/pexels-photo-531880.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    margin: 10px 15px 20px 25px;
    padding: 25px 20px 15px 10px;
    border-style: solid dashed;
    border-width: medium;
    border-radius: 5%;
}
p{
    padding: 5px;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 3px 3px darkgoldenrod;
}
