body {
	background: rgb(89,106,114); /* Old browsers */
    background: -webkit-linear-gradient(rgba(89,106,114,0.7) 0%, rgba(206,220,231,0.7) 52%, rgba(89,106,114,0.5) 86%);
    background: -o-linear-gradient(rgba(89,106,114,0.7) 0%, rgba(206,220,231,0.7) 52%, rgba(89,106,114,0.5) 86%);
    background: linear-gradient(rgba(89,106,114,0.7) 0%, rgba(206,220,231,0.7) 52%, rgba(89,106,114,0.5) 86%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}		

h2 {
	margin: 7% auto;
}

h2 a {
	text-decoration: none;
	color: black;
}

header a {
	font-size: 1.5em;
	font-weight: bold;
	display: inline;
	text-decoration: none;
	color: rgba(214, 255, 244, 0.8);
}

header img {
	margin-top: 25px;
	margin-left: 40%;
	margin-right: 40%;
	width: 200px;
}

table {
	border: 1px solid rgba(115, 115, 115, 0.3);
	border-radius: 5px;
	margin: 5% 0;
}

table th {
	padding: 5px;
	text-align: center;
}

table td {
	padding: 5px;
	text-align: center;
}

p {
	text-align: justify;
	line-height: 1.5em;
}

nav img {
	margin: 5px;
	/*background-color: rgba(255,250,250, 0.4);
	border-radius: 15px;*/
}

.juhatus {
	margin-top: 15px;
}

.copyright {
	font-variant: small-caps;
	font-size: 1em;
	opacity: 0.2;
}

.content.center {
	margin-left: 25%;
	margin-right: 25%;
}

.section-header {
	margin-left: 25%;
	margin-right: 25%;
	background-color: rgba(23, 162, 184, 0.1);
	border-radius: 5px;
	min-width: 150px;
}

.treeningud .section-header {
	min-width: 180px;
}

.menu a:hover {
	background-color: rgba(40, 214, 185, 0.3 );
	border-radius: 10px;
}

.table {
	max-width: 50%;
}

.treeningud img {
	max-width: 100%;
	max-height: 100%;
}

.lisateave {
	font-variant: small-caps;
}

.btn:hover {
	cursor: pointer;
}

.btn-group {
	margin: 2% 0;
}

.nav-link:hover  {
	border-bottom: 2px solid rgba(214, 255, 244, 0.8);
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none;  
    background-color: rgba(35, 64, 153, 0.3);
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
}

#myBtn:hover {
    background-color: rgba(40, 214, 185, 0.3 ); 
