@charset "utf-8";
@import "common.css" screen, projection;
nav {
    border:1px solid black;
}
h1 {
    font-family: "Nunito", sans-serif;
    font-weight: normal;
}
p {
    font-style: oblique;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    color: #00F; 
    background-color: rgb(78,151,108);
    border: 1px solid hsl(15,16%,10%);
    text-decoration: underline; 
}
/*16-nd süsteem 0,1,2,3,4,5,6,7,8,9,A,A,C,D,E,F*/
.autor {
    font-size: 24px;
}
#nupuke {
    border-radius: 25px;
}
dfn#Firefox {
    border: 1px solid gray;
}
*[itemscope] {
    cursor: pointer;
}
[itemscope] {
    cursor: crosshair!important;
}
p + * {
    color: sandybrown;
}
ul, ol {
    font-weight: 900;
}
/*süviti otsing*/
nav li {
    list-style-type: none;
}
/*pealiskaudne otsing*/
ol > li {
    list-style-type: square;
}
#nupuke:active {
    color: red;
    border-radius: 0;
}
/*:-moz-any(ul, ol) li,
:-webkit-any(ul, ol) li,
:matches(ul, ol) li {
    color: yellow;
}*/
:-webkit-any-link {
    text-decoration: overline;
}

/*pseudoelemendid*/
.nupp::after {
    content: "->Tereõäü";
    position: absolute;
    transform: translate(10px);
}
p::first-line {
    color: rgb(255, 0, 128);
}
p::first-letter {
    color: red;
    font-size: 130%;
}
/*vastutab valiku värvi üle*/
::selection {
    background: cyan;
}
@media only screen  
and (min-width: 1920px) {
  body { background: rgb(210, 250, 222); }
}
@media only screen
and (min-width: 1280px)  
and (max-width: 1919px) {
  body { background: rgb(250, 210, 245); }
}
@media only screen 
and (min-width: 480px) 
and (max-width: 1279px) {
  body { background: rgb(211, 210, 250); }
}
@media only screen 
and (min-width: 0) 
and (max-width: 479px) {
  body { background: lightgoldenrodyellow; }
  @supports (display:flex) {
    p{
        color: inherit;
        display:flex;
        background: pink;
    }
    @supports not(display:flex){
    p{
        float:right;
        background: orange;
    }
}
    
.wrapper {
    background-image: url("https://www.rahvaraamat.ee/images/products/000/539/458/thumbnails/big/d43cc4170880254a9396cd31c3bbfa5cb678336f/%C3%B6%C3%B6lamp-j%C3%A4nes.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 10px 15px 20px 25px;
    padding: 25px 20px 15px 10px;
    border-style: solid dashed;
    border-width: medium;
    border-color: blue;
    border-radius: 5%;
}
p {
    padding: 5px;
    text-align: justify;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 2px 2px darkgoldenrod;
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v9/TttUCfJ272GBgSKaOaD7KltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
    font-size: 20px;
}
.small {
    font-variant: small-caps;
    font-style: oblique;
    font-size: 2em/*20px*//*16 pt*/;
}
.small2 {
    font-size: 2em;
}
.small3 {
    font-size: 1.5rem;
}
a:link{
    color: green; 
}
a:visited{
    color: skyblue; 
}
a:hover{
    font-size: 1.2em;
}
a:active{
    font-size:2em;
}
.link-nupp:link, .linknupp:visited{
    display: inline-block;
    background-color: lightgreen;
    color: black;
    padding: 15px 25px;
    margin: 10px;
    text-align:  center;
    text-decoration: none; 
    border-radius: 15px;
}
.link-nupp:hover, .link-nupp:active{
    background-color:  green;
    font-size: 1em;
}
nav li{
    display: inline-block;
}
.kuup{
    display:inline-block;
    width:20px;
    height:20px;
    background-color: white;
}
#div1{
    position:static;
    background-color: darkcyan;
}
#div2{
    position:relative;
    background-color: violet;
    top: 10px;
}
#div3{
    position:fixed;
    background-color: darkblue;
    /*top: 50px;*/
}
#div5{
    position: absolute;
    background-color: red;
    top:100px;
}
#div6{
    position: sticky;
    background-color: green;
}
#kuubid{
background-color: saddlebrown;
height: 70px;
}
