.container{
    background-color: lightblue;
}
.container-fluid{
    background-color: lightyellow;

}
.row{
    height:100px; 
}    
.col-sm{
    border-width: 1px;
    border-style: solid;
}   
.col-sm{
        border-width: 1px;
        border-style: solid;
}
.col, .col-6, .col-3, .col-9, .col-sm{
    border-width: 1px;
    border-style: solid;
}

.info{
    width:100px;
    
}