.container {
    background-color: lightblue;
}

.row {
    height: 100px;
}
.container-fluid {
    background-color: lightgoldenrodyellow;
}

.col-sm, .col,.col-6,.col-3,.col-9 {
    border: 2px solid red;
}

img {
/*    width: 100px!important;*/
}

#carouselExampleIndicators {
    width: 640px;
}