@charset "utf-8";
@import "common.css" screen, projection;
nav{
    border: 1px solid black;

}
p{
    color: #00F;
    background-color:rgba(215, 144, 78, 0.589);
    border: 1px solid hsl(15, 16%, 10%);
    text-decoration: underline;
}
/*16-nd süsteem 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
.autor {
    font-size: 24px;

}
#nupuke {
    border-radius: 25px;
}
dfn#Firefox {
    border: 1px solid red
}
article[itemscope]{
    cursor: pointer;
}
*[itemscope]{
    cursor: pointer;
}
[itemscope]{
    cursor: crosshair!important;
}
p + * {
color: sandybrown;
}
ul, ol {
    font-weight: 900;
}
/*süviti otsing*/
nav li {
    list-style-type: none;
}
/* pealiskaudne otsing*/
ol > li {
    list-style-type: square;
}
button:active {
    color:red;
    border-radius: 0;
}  /*-webki, moz 
:-webkit-any-link{
    text-decoration: overline;  
}
:any-link{
    text-decoration: overline;
}*/
/*Pseudo elemendid*/
.nupp::after{
    content: "->Tereäöõ";
    position: absolute;
    transform: translate(10px);
}
/* Selects the first line of a <p> */
p::first-line {
    color: rgb(8, 94, 43);
  }
/* Selects the first letter of a <p> */
p::first-letter {
    font-size: 300%;
  }
  ::selection {
    background: cyan;
  }
  @media only screen 
  and (min-width: 1280px)  {
    body { background: rgb(148, 123, 142); }
}
@media only screen 
and (min-width: 0x) 
and (max-width: 479px) {
  body { background: lightgoldenrodyellow; }
  h1 {color: darkblue;}
}
@media only screen 
and (min-width: 480px) 
and (max-width: 1279px) {
  body { background: rgb(50, 117, 70); }
}
@media only screen 
and (min-width: 0px) 
and (max-width: 479px) {
  body { background: rgba(148, 85, 34, 0.062); }}
    @supports (display: flex){
    p {color: inherit;
       display: flex;
       background: rgba(216, 47, 17, 0.733); }}
    @supports not (display: flex) {
    p {float: right;
       background: violet;}
}
.wrapper{
    background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 15px 20px 25px;
    padding: 25px 20px 15px 10px;
    border-style: solid dashed;
    border-width: medium;
    border-radius: 14%;
}
p{
    font-family: 'Shrikhand', cursive;
    font-weight: 400; /*Ignoreeritakse kui antud weight puudub*/
    text-align: justify;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 25px;
    height: 50px;
    text-shadow: 1px 1px darkgoldenrod;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.small{font-variant: small-caps;
    font-style: oblique;
    font-size: 2em;/*16pt;*/ /*20px;*/
}
.small2{
    font-size: 1,4em;
}
a:link{
    color:green;
}
a:visited{
    color: skyblue;
}
a:hover{
    font-size: 1.2em;
}
a:active{
    font-size:1.5em;
}
.link-nupp:link, .link-nupp:visited{
    display: inline-block;
    background-color: lightgreen;
    color: black;
    padding: 15px 25px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}
.link-nupp:hover, .link-nupp:active{
    background-color: green;
    font-size: 1em;
}
nav li {
    display: inline-block;
}
.kuup{
    display: inline-block;
    width: 20px;
    height:20px;
    background-color: white;
}
#div1{
    position: static;
    background-color:blue
}
#div2{
    position: relative;
    background-color:darkgreen;
    top:100px
}
#div3{
    position: fixed;
    background-color: darkgreen;
    /*top:50px;*/
}
#div5{
    position: absolute;
    background-color: darkorchid;
    top: 100px
}
#div6{
    background-color: darkseagreen;
    position: sticky;
    top:10px;
}
#kuubid{
    background-color: saddlebrown;
    height: 70px;


}