@charset "utf-8";
@import "common.css" screen, projection;
nav{
    border: 1px solid black;

}
p{
    color: #00F;
    background-color:rgba(215, 144, 78, 0.589);
    border: 1px solid hsl(15, 16%, 10%);
    text-decoration: underline;
}
/*16-nd süsteem 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
.autor {
    font-size: 24px;

}
#nupuke {
    border-radius: 25px;
}
dfn#Firefox {
    border: 1px solid red
}
article[itemscope]{
    cursor: pointer;
}
*[itemscope]{
    cursor: pointer;
}
[itemscope]{
    cursor: crosshair!important;
}
p + * {
color: sandybrown;
}
ul, ol {
    font-weight: 900;
}
/*süviti otsing*/
nav li {
    list-style-type: none;
}
/* pealiskaudne otsing*/
ol > li {
    list-style-type: square;
}
button:active {
    color:red;
    border-radius: 0;
}  /*-webki, moz 
:-webkit-any-link{
    text-decoration: overline;  
}
:any-link{
    text-decoration: overline;
}*/
/*Pseudo elemendid*/
.nupp::after{
    content: "->Tereäöõ";
    position: absolute;
    transform: translate(10px);
}
/* Selects the first line of a <p> */
p::first-line {
    color: rgb(8, 94, 43);
  }
/* Selects the first letter of a <p> */
p::first-letter {
    font-size: 300%;
  }
  ::selection {
    background: cyan;
  }