nav {
    border: 2px solid black;
}

p{
    color: #00f;
    color: #0000ff;
    background-color: rgb(55, 137, 67);
    border: 1px solid hsl(14, 15%, 14%);
    text-decoration: underline;
}

.autor {
    font-size: 24px;
}

#nuppuke {
    border-radius: 25px;
    
}

dfn#firefox {
    border: 2px solid gray;
}

article[itemscope]{
    cursor: pointer;
}

[itemscope]{
    cursor: crosshair;
}

*[itemscope]{
    cursor: pointer!important;
}

p + * {
    color: sandybrown;
}

ul, ol {
    font-weight: 900;
}

/*süviti otsing*/
nav li{
    list-style: none;
}

/*pealiskaudne otsing*/
ol > li {
    list-style-type: square;
}

#nuppuke:active {
    color: red;
    border-radius: 0;
}

/* -webkit-,-moz-,-ms-

:-webkit-any-link{
    text-decoration: overline;
}

:-moz-any-link{
    text-decoration: overline;
}

:any-link{
    text-decoration: overline;
}*/
