@charset "utf-8";
@import "common.css" screen,
projection;
nav {
    border: 2px solid black;
}

p {
    color: #00f;
    color: #0000ff;
    background-color: rgb(55, 137, 67);
    border: 1px solid hsl(14, 15%, 14%);
    text-decoration: underline;
}

.autor {
    font-size: 24px;
}

#nuppuke {
    border-radius: 25px;

}

dfn#firefox {
    border: 2px solid gray;
}

article[itemscope] {
    cursor: pointer;
}

[itemscope] {
    cursor: crosshair;
}

*[itemscope] {
    cursor: pointer!important;
}

p + * {
    color: sandybrown;
}

ul,
ol {
    font-weight: 900;
}

/*süviti otsing*/

nav li {
    list-style: none;
}

/*pealiskaudne otsing*/

ol > li {
    list-style-type: square;
}

#nuppuke:active {
    color: red;
    border-radius: 0;
}

/* -webkit-,-moz-,-ms-

:-webkit-any-link{
    text-decoration: overline;
}

:-moz-any-link{
    text-decoration: overline;
}

:any-link{
    text-decoration: overline;
}*/

/*pseudo elemendid*/

.nupp::after {
    content: "->Tere";
    position: absolute;
    transform: translate(190px);
}

p::first-letter {
    font-size: 200%
}

p::first-line {
    background-color: red;
}

::selection {
    background: cyan;
}

@media only screen and (min-width: 1920px) {
    body {
        line-height: 1.4;
        background: red;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
    body {
        line-height: 1.4;
        background: blue;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1279px) {
    body {
        line-height: 1.4;
        background: green;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    body {
        line-height: 1.4;
        background: yellow;
    }
}

@supports (display: flex) {
    p {
        color: inherit;
        display: flex;
        background: #9b0b24;
    }
}

@supports not (display: flex) {
    p {
        float: right;
        background: #ff0000;
    }
}

.wrapper {
    background: url(https://images.unsplash.com/photo-1492854536278-1f94bbec5732?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
    margin: 10px 15px 20px 25px;
    padding: 25px 20px 15px 10px;
    border-style: solid dashed;
    border-width: 20px;
}

p {
    text-align: justify;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow:  3px 3px darkgoldenrod;
}